<style>
    .style-roomnum {
      width: 100%;
      text-align: center;
      font-family: "Courier Prime";
      font-weight: bold;
      font-style: normal;
      font-size: 30px;
    }
    .style-ul-container {
      margin-top: 90px;
      padding: 0;
    }
    .style-item-box {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      margin-bottom: 10px;
    }
    .style-item-header-box {
      background: #8de2e2;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      text-align: center;
      font-family: "Courier Prime";
      font-weight: bold;
      font-style: normal;
    }
    .style-checkbox {
      border: 3px solid black;
      padding: 50px;
    }
    .style-item-checkbox {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
    }
    .style-item-checkbox p {
      width: 100%;
      height: 100%;
      margin-bottom: 0;
    }
    .style-item-checkbox input {
      transform: scale(2);
      margin-right: 20px;
    }
    .note {
      color: rgb(172, 172, 172);
    }
    .style-btn-container {
      text-align: right;
    }
    .style-btn {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      margin: 10px 0 30px 0;
      border-bottom: 3px solid rgb(31, 31, 43);
      border-radius: 10px;
      padding: 10px 20px;
      
    }
    .style-btn-comment-container {
      text-align: right;
      width: 100%;
    }
    .style-btn-comment {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      border-bottom: 3px solid rgb(168, 168, 168);
      width: 100px;
      height: 50px;
      margin: 0 10px 10px 0;
      border-radius: 10px;
      
      font-weight: bold;
      font-style: normal;
    }
    .style-comment-box {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      border-bottom: 3px solid rgb(161, 161, 161);
      border-radius: 10px;
    }
    .style-dropdown {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      padding: 7px 10px;
      border-radius: 10px;
    }
  
    .margin-top-tables {
      margin-top: 15px;
    }

    @media screen and (max-width: 600px) {
      .style-ul-container {
      margin-top: 90px;
      }
    }

    .trans-top {
      animation: slideInFromTop 1.2s ease-out;
    }
    
    @keyframes slideInFromTop {
      0% {
        transform: translatey(100%);
        background-color: #8de2e2;
      }
      100% {
        transform: translatey(0);
        background-color: none;
      }
    }
  </style>