<style>
    .style-header {
      margin-top: 100px;
      text-align: center;
      font-family: "Courier Prime";
      font-weight: Bold;
      font-style: normal;
    }
    .style-btn-container {
      text-align: center;
      border-top: 3px solid black;
      padding: 0;
    }
    .style-btn {
      border-radius: 20px;
      background: #EEF0F4;
      border: 3px solid #EEF0F4;
      box-shadow: 15.32px 15.32px 18px #D0D2D6, -15.32px -15.32px 18px #FFFFFF, inset 15.32px 15.32px 18px #D0D2D6, inset -15.32px -15.32px 18px #FFFFFF;
      color: black;
      font-weight: bold;
      font-style: normal;
      text-align: center;
      display: inline-block;
      padding: 10px 20px;
      margin: 5px;
      /* border-bottom: 3px solid rgb(168, 168, 168); */
    }
    .container-style {
      padding-bottom: 30px;
      text-align: center;
      border-bottom: 3px solid rgb(168, 168, 168);
      border-bottom-left-radius: 30%;
      border-bottom-right-radius: 30%;
    }

    .triangle {
      position: relative;
      background: #EEF0F4;
      
    }

    .triangle::before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 70px 100px 0 100px;
      border-color: rgb(168, 168, 168) transparent transparent transparent;
      left: 50%;
      transform: translateX(-50%) translateY(100%);
    }
    

    @media screen and (max-width: 600px) {
      .style-btn {
        width: 130px;
        padding: 10px 5px;
        margin-top: 10px;
      }
      .hide-on-mobile {
        display: none;
      }
      .triangle::before {
        border-width: 70px 60px 0 60px;
      }
    }
  </style>