{{amenities = "BEFORE ENTERING THE GUEST ROOM AND START TO CLEAN BASE ON THE CHECKLIST, STAFF SHOULD CHECK FIRST OR KNOCK THE DOOR IF THERE'S STILL GUEST INSIDE TRY TO APPROACH (EXCUSE ) ASK IF THEY NEED ASSISTANT SUCH AS THEY WANT TO CLEAN THE ROOM, CLEAN TOWEL OR ANY OTHER AMENITIES NEEDED. AFTER, STAFF CAN PROCEED TO OTHER ROOMS AND PROCEED THINGS TO DO. IF THERE IS NO GUEST OPEN THE WINDOWS ND DOOR."
  bathroom = 'content 2'
  ac = 'content 3'
  lightings = 'content 4'}}

<div
  class="modal fade"
  id="exampleModalLongAmenities"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Amenities</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="text-indent: 25px">
          {{=amenities}}
        </p>
        <br />
        <br />1. CHECK THE THERMOSTAT AIRCONDITIONER AND LIGHT TO ENSURE IT
        WORKS PROPERLY <br />2. CLEAN THE MIRRORS AND GLASS SURFACES <br />3.
        WIPE THE TELEPHONE AND WIRES <br />4. CHECK THE REFRIGERATOR IF THE GOOD
        PRODUCTS ARE INTACT AND CLEAN <br />5. LOOK OVER THE WALLS AND CEILINGS
        IF THERE IS A DUST OR COWEB AND UNDER THE BED AND CLEAN IT.<br />6.
        REPLACCE ANY FLICKERING OR BUSTED OR BURNT OUT BULBS <br />7. MOP THE
        TILES WITH SOFT <br />8. DEODORIZE THE ROOM
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModalLongBathroom"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Bathroom</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="text-indent: 25px">
          {{=bathroom}}
        </p>
        <br />
        <br />1. CHECK THE THERMOSTAT AIRCONDITIONER AND LIGHT TO ENSURE IT
        WORKS PROPERLY <br />2. CLEAN THE MIRRORS AND GLASS SURFACES <br />3.
        WIPE THE TELEPHONE AND WIRES <br />4. CHECK THE REFRIGERATOR IF THE GOOD
        PRODUCTS ARE INTACT AND CLEAN <br />5. LOOK OVER THE WALLS AND CEILINGS
        IF THERE IS A DUST OR COWEB AND UNDER THE BED AND CLEAN IT.<br />6.
        REPLACCE ANY FLICKERING OR BUSTED OR BURNT OUT BULBS <br />7. MOP THE
        TILES WITH SOFT <br />8. DEODORIZE THE ROOM
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModalLongAir-Conditioning"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">AC Units</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="text-indent: 25px">
          {{=ac}}
        </p>
        <br />
        <br />1. CHECK THE THERMOSTAT AIRCONDITIONER AND LIGHT TO ENSURE IT
        WORKS PROPERLY <br />2. CLEAN THE MIRRORS AND GLASS SURFACES <br />3.
        WIPE THE TELEPHONE AND WIRES <br />4. CHECK THE REFRIGERATOR IF THE GOOD
        PRODUCTS ARE INTACT AND CLEAN <br />5. LOOK OVER THE WALLS AND CEILINGS
        IF THERE IS A DUST OR COWEB AND UNDER THE BED AND CLEAN IT.<br />6.
        REPLACCE ANY FLICKERING OR BUSTED OR BURNT OUT BULBS <br />7. MOP THE
        TILES WITH SOFT <br />8. DEODORIZE THE ROOM
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModalLongLightings"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Lightings</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="text-indent: 25px">
          {{=lightings}}
        </p>
        <br />
        <br />1. CHECK THE THERMOSTAT AIRCONDITIONER AND LIGHT TO ENSURE IT
        WORKS PROPERLY <br />2. CLEAN THE MIRRORS AND GLASS SURFACES <br />3.
        WIPE THE TELEPHONE AND WIRES <br />4. CHECK THE REFRIGERATOR IF THE GOOD
        PRODUCTS ARE INTACT AND CLEAN <br />5. LOOK OVER THE WALLS AND CEILINGS
        IF THERE IS A DUST OR COWEB AND UNDER THE BED AND CLEAN IT.<br />6.
        REPLACCE ANY FLICKERING OR BUSTED OR BURNT OUT BULBS <br />7. MOP THE
        TILES WITH SOFT <br />8. DEODORIZE THE ROOM
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

{{pass}}